.docs-container {
    background-color: #E8EAED;
}
.heading-container {
    width: 100vw;
    padding: 0.1em 0.1em 0.1em 34px;
    background-color: #db545a;
    box-shadow: 0 1px 2px 0;
    z-index: 1;
    font-size: 25px;
    color: white;
}
.flex-container-main {
    background-color: transparent;
}
@media screen and (min-width: 640px){
    .flex-container-main {
        display: flex;
    }
}


.sidebar {
    flex: 0 1 260px;
    min-height: 70vh;
    /* padding-left: 50px; */
    padding-top: 10px;
    background-color: #f5f5f5;
    /* margin: 1em 2em 1em 2em  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.content {
    flex: 1;
    padding: 40px 40px 40px 60px;
    background-color: #f1f3f4;
    margin: 2em 2em 1em 6em;
    max-width: 936px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}
.sidebar-element {
    padding: 20px 20px 20px 34px;
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
}
.sidebar-heading {
    font-weight: 400;
}
.sidebar-item{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}
.selected {
    background-color: rgb(211, 60, 60);
    color: white;
}

.docHeading {
    font-weight: 700;
    margin-bottom: 80px;
}
.docSubHeading {
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media screen and (max-width: 575px) {
    .docContent {
        font-size: 12px;
    }
    .docSubHeading {
        font-size: 18px;
    }
    .docHeading {
        font-size: 25px;
    }
}
@media screen and (min-width: 575px) {
    .docContent {
        font-weight: 400;
        font-size: 19px;
    }
    .docSubHeading {
        font-size: 25px;
    }
    .docHeading {
        font-size: 35px;
    }
}
